body {
    background-color:#808080;

}
.dream-photos{
    width:200px;
    height:200px;
    position:relative;
    text-align:center;
    font-size: 7rem;
}

.row{
    width:100%;
    height:100%;
    backface-visibility:hidden;
    transition:transform 4s;
    transform-style: preserve-3d;
    position:absolute;
}
photo{
    display:block;
    position:absolute;
    margin:0;
    width:100%;
    height:100%;
}
.front{
    background-color:#ffd800;
}
.back{
    background-color:#b6ff00;
    transform:rotateY(180deg);
}
.card:hover{
    transform:rotateY(1260deg) scale(2.2);
}